body {
    font-family: 'Roboto';
}
#root{display: flex; align-items: center; height: 100vh;}
ul::-webkit-scrollbar {
    width: 5px; 
}

ul::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #217af4;
    
    border-radius: 10px;
}

ul::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}
